/*HEADER COMÚN*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

header figure {
    width: fit-content;
    margin: auto;
}   

nav ul {
    list-style: none;
    width: fit-content;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}

nav ul li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: #7ABA96;
}

/*MAIN COMÚN*/
main {
    padding: 14rem;
}

/*FOOTER COMÚN*/
footer {
    background-color: black;   
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav {
    width: fit-content;
}


footer nav ul li a {
    color: white;
}

/*INDEX*/

.index {
    display: flex;
    padding: 0;
    padding-top: 14rem;
}

.index section {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index section article {
    width: 45%;
}

.index section article figure {
    width: 100%;
    margin: 0;
}

.index section article figure img {
    width: auto;
    max-width: 100%;
}

.index section article h4 a {
    text-decoration: none;
    color: black;
}

.index section article h5 {
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

.index section article hr {
    border-color: #7ABA96;
    margin: 0;
}

aside {
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
}

aside h4 {
    text-align: center;
}

aside figure {
    width: fit-content;
    margin: auto;
}

aside p{
    color: grey;
}

.RecuadroAside {
    background: blanchedalmond;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.RecuadroAside a {
    background: #7ABA96;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

